{% extends 'judge/base.html' %}
{% load static %}

{% block main %}
<div class="card submit-card">
    <div class="card-body">
        <h5 class="card-title">Submit solution to <a href="{% url 'problem_detail' problem.slug %}">{{ problem.name }}</a></h5>
        <div class="card my-3">
            <div class="card-body editor-container">
                <div id="editor"></div>                
            </div>
        </div>
        <form method="post" id="problem_submit_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }} 
            <p>
                {{ form.source.label_tag }}
                {{ form.source.errors }}
                <input type="file" name="source" id="id_source" v-on:change="source">
            </p>
            <p>
                {{ form.language.label_tag }}
                {{ form.language.errors }}
                <select name="language" required id="id_language" v-model="language">
                    {% for i in form.language.field.choices %}
                    <option value="{{ i.0 }}">{{ i.1 }}</option>
                    {% endfor %}
                </select>
            </p>
            <!-- <button type="submit" class="btn btn-primary mr-2 my-auto">{% templatetag openvariable %} submit_button_text {% templatetag closevariable %}</button> -->
            <button type="submit" class="btn btn-primary mr-2 my-auto">Submit</button>
            <a href="{% url 'problem_detail' problem.slug %}" class="btn btn-secondary my-auto" role="button" aria-pressed="true">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'scripts/submit.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jszip@3.5.0/dist/jszip.min.js" integrity="sha256-cNXRgwrU74TQiTDsep3TqNE1ZOBPrOmYVYWi+fM8czw=" crossorigin="anonymous"></script>
{% endblock %}
