{% extends 'judge/base.html' %}
{% load gravatar_tags %}
{% load markdown_tags %}
{% load link_tags %}
{% load color_tags %}

{% block main %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            Submission {{ submission.pk|submission }} for {{ submission.problem.slug|problem }} by {{ submission.author.username|user }}
        </h5>
        <a href="{% url 'submission_detail' submission.pk %}" class="card-link">View Status</a><br><br>
        <pre class="prettyprint">{{ source }}</pre>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}
