{% extends 'base_pnoj.html' %}
{% load gravatar_tags %}
{% load markdown_tags %}
{% load link_tags %}
{% load color_tags %}

{% block main %}
<div class="card">
    <div class="card-body">
        <div class="media mb-4">
            <div class="media-body">
                <h5 class="mt-0">
                    Submission {{ submission.pk|submission }} for {{ submission.problem.slug|problem }} by {{ submission.author.username|user }}
                </h5>
            </div>
        </div>
        <pre class="prettyprint">{{ source }}</pre>
    </div>
</div>
{% endblock %}

{% block navbar %}
<li class="nav-item my-auto">
    <a href="{% url 'submission' submission.pk %}" class="btn btn-info">View Status</a>
</li>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}
