{% extends "account/custom_base.html" %}
{% load settings_tags %}
{% load i18n %}
{% block head_title %}Log in{% endblock %}

{% block main %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Change Password</h5>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}
